/* Feuille de style user-agent Nautile */
/* Inspirée de : https://html.spec.whatwg.org/multipage/rendering.html */

html, body { display: block; }
head, title, script, style, link, meta { display: none; }

body { margin: 8px; }

h1 { display: block; font-size: 2em;    margin: 0.67em 0; font-weight: bold; }
h2 { display: block; font-size: 1.5em;  margin: 0.83em 0; font-weight: bold; }
h3 { display: block; font-size: 1.17em; margin: 1em 0;    font-weight: bold; }
h4 { display: block; font-size: 1em;    margin: 1.33em 0; font-weight: bold; }
h5 { display: block; font-size: 0.83em; margin: 1.67em 0; font-weight: bold; }
h6 { display: block; font-size: 0.67em; margin: 2.33em 0; font-weight: bold; }

p   { display: block; margin: 1em 0; }
div { display: block; }
span { display: inline; }

a { color: #0000EE; text-decoration: underline; cursor: pointer; }
a:visited { color: #551A8B; }

ul, ol { display: block; padding-left: 40px; margin: 1em 0; }
li { display: list-item; }

table  { display: table; border-collapse: separate; border-spacing: 2px; }
thead  { display: table-header-group; }
tbody  { display: table-row-group; }
tfoot  { display: table-footer-group; }
tr     { display: table-row; }
th, td { display: table-cell; padding: 1px; }

button, input[type="button"], input[type="submit"], input[type="reset"] {
    display: inline-block; cursor: pointer;
}

input, textarea, select { display: inline-block; }

img { display: inline; }

pre, code, samp, kbd, tt { font-family: monospace; }
pre { display: block; margin: 1em 0; white-space: pre; }

strong, b { font-weight: bold; }
em, i     { font-style: italic; }
s, strike, del { text-decoration: line-through; }
u, ins         { text-decoration: underline; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
small { font-size: smaller; }

hr { display: block; height: 1px; border: 1px inset; margin: 0.5em auto; }

[hidden] { display: none; }
